# GitHub OAuth
GITHUB_CLIENT_ID=Ov23liJLAO5VOj3xQq3b
GITHUB_CLIENT_SECRET=1a1105b253ab974e77641aec619ec4a79c14e4b5
GITHUB_REDIRECT_URI=http://127.0.0.1:8000/auth/callback

# Security
SECRET_KEY=b8d53f013919aaa113c54cf836876ce0dd5c7fa0c18e991048076de635365cfe

# Database
DATABASE_URL=sqlite:///./critique.db

# App settings
APP_ENV=development
APP_URL=http://127.0.0.1:8000
